// Colors
$Bright-Red: hsl(12, 88%, 59%);
$Dark-Blue: hsl(228, 39%, 23%);

$Dark0Grayish-Blue: hsl(227, 12%, 61%);
$Very0Dark-Blue: hsl(233, 12%, 13%);
$Very0Pale-Red: hsl(13, 100%, 96%);
$Vary0Light-Gray: hsl(0, 0%, 98%);
$Light-Gray: hsl(0, 0%, 97%);
// Typography
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
$ff-v: Be Vietnam;

$fw-l: 400;
$fw-b: 500;
$fw-vb: 700;